<meta charset="UTF-8">
<title>Indieca</title>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap"> 
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/favicon1.png" type="image/gif" sizes="16x16">
