<meta charset="UTF-8">
<title>Indieca</title>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
<<<<<<< HEAD
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
=======
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap"> 
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/img/cloak-dagger.png" type="image/gif" sizes="16x16">
>>>>>>> 86647992d3580d0f0d4e160b12125f9d71c0cb08
