 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"><img src="/img/indiecaLogo.png" alt="" height=auto width="24%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Profile</a>
            </li>
          </ul>
        </div>
      </nav>