
<div class="about-us">
    <h1> <U>Indieca</U></h1>
    <h3>We love games, we grew up with games and now we are doing our dream: working and providing content with games.</h3>
    <h3>We do this by...</h3>
    <br>
    <ul>
        <li>Gathering all relevant information about games in one place</li>
        <li>Building social and exploratory features on top of this information</li>
        <li>Gathering a community of both Gamers and people from the game industry and</li>
        <li>Focusing on our users and let them decide on new design ideas and features.</li>
    </ul> 
    </div>



