<% layout('layout') -%>
<div id="welcome">
    <h1>What is Indieca?</h1>
    </div>
<blockquote class="blockquote">
    <p class="about-body">
        Indieca is a new social network for beginner, novice and established Indie game developers to share ideas, tips and anything related to the industry. It is a complete platform which users can join for free, meet other developers from all over the world, share moments, and much more. This is your world!
    </p>
    <p class="mb-0 about-body">
        INNOVATE, INSPIRE, AND ILLUMINATE THE FUTURE OF INDIES!
    </p>
    <footer class="blockquote-footer about-body">Lixus, <cite title="Source Title">Indieca CEO</cite></footer>
  </blockquote>
  <img style="height: 550px; width: 100%; display: block;" src="/img/about_gif.gif" alt="Card image">



