
<div id="welcome">
    <h1>WHAT IS INDIECA?</h1>
    </div>
    <br>
<blockquote class="blockquote">
    <p class="about-body">
        INDIECA is a new social network for beginner, novice and established Indie game developers to share ideas, tips and anything related to the industry. It is a complete platform which users can join for free, meet other developers from all over the world, share moments, and much more. This is your world!
    </p>
    <p class="mb-0 about-body">
        INNOVATE, INSPIRE, AND ILLUMINATE THE FUTURE OF INDIES!
    </p>
    <footer class="blockquote-footer about-body">Lixus, <cite title="Source Title">INDIECA CEO</cite></footer>
  </blockquote>
  <br>
  <div class="card">
      <img style="display: block;" src="/img/daigo.gif" alt="Card image">
    </div>




