
<div class="jumbotron">
  <h1 class="display-3">Welcome, <%= name %> </h1>
  <p class="lead">Please kindly go away, I’m introverting. While you're at it check the rest of the site...</p>
  <hr class="my-4">
  <p>Favorite Game: <%= favegame %> </p>
  <p>Leave the gun. Take the cannoli.</p>
  <a href="/posts/add"><button class="btn btn-primary btn-lg bot" role="button" type="submit">Add Post</button></a>
</div>
<a href="/users/logout"><button class="btn btn-dark btn-lg bot" role="button" type="submit">Log out</button></a>