<div id="welcome">
  <h1>INDIE OF THE MONTH</h1>
  </div>
  <br>
<div class=" card mb-3">
    <h3 class="card-header">Untitled Goose Game</h3>
    <img style="height: 300px; width: auto; display: block;" src="/img/goose_gif.gif" alt="Card image">
    <div class="card-body">
      <h4 class="card-text"><b> Developer: House House</b></h4>
      <p class="card-text">Untitled Goose Game is a 2019 puzzle–stealth game. In the game, players control a goose who bothers the inhabitants of an English village.</p>
    </div>
</div>
<br>
<div id="welcome">
  <h1>POPULAR INDIES</h1>
  </div>
  <br>
  <div class="card mb-3">
      <h3 class="card-header">Blasphemous</h3>
      <img style="height: 300px; width: auto; display: block;" src="/img/blasphemous_gif.gif" alt="Card image">
      <div class="card-body">
        <h4 class="card-text"><b> Developer: The Game Kitchen</b></h4>
        <p class="card-text">Blasphemous is a punishing action-platformer that combines the fast-paced, skilled combat of a hack-n-slash game with a deep and evocative narrative core, delivered through exploration of a huge universe comprised of non-linear levels.</p>
      </div>
      </div>

  </div>
  <br>
  <div class="card mb-3">
      <h3 class="card-header">Celeste</h3>
      <img style="height: 300px; width: auto; display: block;" src="/img/celeste_gif.gif" alt="Card image">
      <div class="card-body">
        <h4 class="card-text"><b> Developer: Matt Makes Games</b></h4>
        <p class="card-text">Help Madeline survive her inner demons on her journey to the top of Celeste Mountain, in this super-tight, hand-crafted platformer from the creators of multiplayer classic TowerFall.</p>
      </div>
      </div>