
<div class="card mb-3">
    <h3 class="card-header">INDIE OF THE MONTH</h3>
    <div class="card-body">
      <h5 class="card-title">Untitled Goose Game</h5>
      <h6 class="card-subtitle text-muted">Developer: House House</h6>
    </div>
    <img style="height: 512px; width: 100%; display: block;" src="/img/goose_gif.gif" alt="Card image">
    <div class="card-body">
      <p class="card-text">Untitled Goose Game is a 2019 puzzle–stealth game. In the game, players control a goose who bothers the inhabitants of an English village.</p>
    </div>
</div>