
<div id="welcome">
<h1>POPULAR INDIES</h1>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Blasphemous</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/blasphemous_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Celeste</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/celeste_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Cuphead</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/cuphead_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Dead Cells</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/deadcells_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Gris</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/gris_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Hollow Knight</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/hollow_gif.gif" alt="Card image">
    </div>
</div>
<div class="card mb-3 indies">
    <h3 class="card-header">Undertale</h3>
    <div class="card-body">
    </div>
    <img style="height: 300px; width: auto; display: block;" src="/img/undertale_gif.gif" alt="Card image">
    </div>
</div>