<% layout('layout') -%>

<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <br>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" required>
  </div>
  <br>
  <button type="submit">Login</button>
</form>
<br>
<<<<<<< HEAD
<a href="/register">Register</a>

=======
<a href="/register">Register</a>
>>>>>>> 86647992d3580d0f0d4e160b12125f9d71c0cb08
