<div id="welcome">
    <h1>All Posts</h1>
</div>
    <%  for(var post of posts){ %>
      <div class="posts">
      <h3><%= post.title %></h3>
      <p><%= post.description %></p>
    </div>
    <% } %>
    
  </section>