<div class="layout-container">
<h1>REGISTER</h1>
<%- include ./partials/messages.ejs %>
<form action="/users/register" method="POST">
  <div>
    <label for="name">Username</label>
    <br>
    <input type="text" id="name" name="name" values=<% typeof name != 'undefined' ? name: '' %> >
  </div>
  <div>
    <label for="email">Email</label>
    <br>
    <input type="email" id="email" name="email" values=<% typeof email != 'undefined' ? email: '' %> >
  </div>
  <div>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" values=<% typeof password != 'undefined' ? password: '' %> >
  </div>
  <div>
        <label for="birthday">Birthday</label>
        <br>
        <input type="Date" id="birthday" name="birthday" values=<% typeof birthday != 'undefined' ? birthday: '' %> >
    </div>
  <div>
        <label for="game">Favorite Game</label>
        <br>
        <input type="game" id="game" name="fave_game" values=<% typeof fave_game != 'undefined' ? fave_game: '' %> >
    </div>
  <br>
  <button type="submit">Register</button>
</form>
<br>
<a href="/users/login">Login</a>
</div>