body {
    background-color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Fugaz One', cursive;
    color: #17141F;
}

h4 {
    text-align: center;
    color: black;
    font-family: 'Fugaz One', cursive;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;  
}

.carousel-inner {
    height: 37vh;
    background-color: #EDEDED;
}

.carousel-inner img {
    min-width: 100%;
    height: fit-content;
    object-fit: cover;
}

.nav-item {
    margin-left: 13%;
    font-size: 1.8em;
    font-weight: 500;
}

.navbar {
    padding: 10px 5px;
}

.nav-link {
    font-family: 'Fugaz One', cursive;
}

.navbar a img{
    margin-left: 50%;
}

.navbar-collapse  {
    margin-left: 5%;
}

.about-us {
    padding: 1.75% 5%;
}

.about-us ul li {
    list-style:none;
    font-family: 'Fugaz One', cursive;
    color: #17141F;
    font-size: large;
}


.card {
    margin-left: 25%;
    margin-right: 25%;
}


.card-body{
    padding: 0
}

.card-header {
    background-color:indigo;
    color: antiquewhite
}

.bot {
    bottom: 0;
}

#description {
    height: 400px;
    width: 400px;
    font-size: 12pt;
}

.top-stories {
    background-color: #EDEDED;
    padding: 1.75% 5%;
}

.stories {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(3, 1fr);
}

.story-divs {
    float: left;
    width: 82%;
    padding-right: 3%;
}

.story-divs img {
   height: 250px;
   width: 100%;
   cursor: pointer;
}