.container {
    margin-top: 25px;
}

#welcome {
    text-align: center
}

.nav-item {
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: 600;
}

.about-body {
    text-align: center;
}

.card {
    margin-left: 25%;
    margin-right: 25%;
}

.blockquote {
    margin-left: 25%;
    margin-right: 25%;
}

.card-body{
    padding: 0
}

.card-header {
    background-color:indigo;
    color: antiquewhite
}

.bot {
    bottom: 0;
}

#description {
    height: 400px;
    width: 400px;
    font-size: 12pt;
}