body {
    background-color: #ffffff;
}

h1, h2, h3, label, button, a {
    font-family: 'Fugaz One', cursive;
    color: #17141F;
    padding-top: 2.5px;
}

h4 {
    text-align: center;
    color: black;
    font-family: 'Fugaz One', cursive;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;  
}

.carousel-inner {
    height: 50vh;
    background-color: #EDEDED;
}

.carousel-inner img {
    min-width: 100%;
    height: fit-content;
    object-fit: cover;
}

.nav-item {
    margin-left: 13%;
    font-size: 1.8em;
    font-weight: 500;
}

.navbar {
    padding: 10px 5px;
}

.nav-link {
    font-family: 'Fugaz One', cursive;
}

.navbar a img{
    margin-left: 50%;
}

.navbar-collapse  {
    margin-left: 5%;
}

.layout-container {
    padding: 2.1% 5.6%;
}

#widget1 {
    grid-area: "pro";
}

#widget2 {
    grid-area: "design"
}

#widget3 {
    grid-area: "user"
}

#widget4 {
    grid-area: "unbiased"
}

.widget-showcase {
    padding: 2.1% 5.6%;
    background-color: #9147FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "pro design"
    "user unbiased"
    ;
}

.widget-showcase h2{
    color: #ffffff;
}

.bot {
    bottom: 0;
}

#description {
    height: 400px;
    width: 400px;
    font-size: 12pt;
}

.top-stories {
    background-color: #EDEDED;
    padding: 1.75% 5.6%;
}

.stories {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(3, 1fr);
}

.story-divs {
    float: left;
    width: 82%;
    padding-right: 2%;
    padding-left: 2%;
}

.story-divs img {
   height: 250px;
   width: 100%;
}

.story-divs h4 {
    margin-top: 10px;
}