<div>
    <label for="name">Username</label>
    <br>
    <input type="text" id="name" name="name" value="<%= user.name %>" required>
  </div>
  <div>
    <label for="email">Email</label>
    <br>
    <input type="email" id="email" name="email" placeholder="Enter Password" required>
  </div>
  <div>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
        <label for="birthday">Birthday</label>
        <br>
        <input type="birthday" id="birthday" name="birthday" required>
    </div>
  <br>